<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center_form">
    <!--
    I needed to add "url:signup_path" as I named my controller incorrectly.
    If the controller was named "UsersController" it would have found the correct
    path without it being specified in the form_for. It searches for "@parameter_name" + "s" + "path" by default.

    Rails knows that @user represents the User class
    -->
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render  "shared/error_messages" %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <!-- had to create a post path for signup_path again due to incorrect controller name -->
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>